{% extends 'base.html' %}

<span vocab="http://schema.org/" typeof="SportsTeam">

{% block content %}
    <h1><span property="legalName">{{ team.name }}</span></h1>
    <div class="row" style="margin-top: 30px">
        <div class="col-sm-4 heading">
            <span property="logo">
            {% if team.crest %}
                <img src="{{ team.crest.url }}" width="200px" height="200px" >
            {% else %}
                <img src="/media/crests/no_crest.svg" width="200px" height="200px" >
            {% endif %}
            </span>
        </div>
        <div class="col-sm-4">
            <table class="table table-striped table-hover">
                <th colspan="2" class="text-center"><h3>Info</h3></th>
                <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ team.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Short Name</strong></td>
                        <td>{{ team.short_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Created by</strong></td>
                        <td>{{ team.created_by }}</td>
                    </tr>
                    <tr>
                        <td><strong>Sport</strong></td>
                        <td><span property="sport">Football</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-group">
        <div id="reviews-panel" class="panel panel-default">
            <div class="panel-heading"><h3>Reviews</h3></div>
            <div class="panel-body">
                {% if reviews|length > 0 %}
                <span rel="aggregateRating">
                    <p typeof="AggregateRating">
                        Average rating <span property="ratingValue">{{ team.averageRating|stringformat:".1f" }}</span>
                        {% with reviews|length as reviewCount %}
                        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
                        {% endwith %}
                    </p>
                </span>
                <table rel="review" class="table table-striped table-hover">
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Author</th>
                    {% for review in reviews %}
                        <tr typeof="Review">
                            <td rel="reviewRating" typeof="Rating">
                                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                                <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                                {% with RATING_CHOICES|last as best %}
                                <span property="bestRating" content="{{ best.0 }}"></span>
                                {% endwith %}
                            </td>
                            <td property="description">{% if review.comment %}{{ review.comment }}{% endif %}</td>
                            <td><span property="author">{{ review.user }}</span></td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                <h4>Add Review</h4>
                <form action="{% url 'review_create' team.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment">Message:</label>
                        <textarea name="comment" id="comment" class="form-control" rows="4"></textarea>
                    </div>

                    <p>Rating:</p>
                    <fieldset class="rating">
                        {% for rate in RATING_CHOICES %}
                            <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
                            <label for="rating{{ forloop.counter }}"></label>
                        {% endfor %}
                    </fieldset><br><br><br>
                    <input type="submit" value="Review" />
                </form>
            </div>
        </div>
        <div id="events-panel" class="panel panel-default">
            <div class="panel-heading"><h3>Upcoming events</h3></div>
            <div class="panel-body">
                {% if events %}
                <table class="table table-striped table-hover">
                    <th class="text-center" colspan="1">
                        Name
                    </th>
                    <th class="text-center" colspan="1">
                        Local
                    </th>
                    <th class="text-center" colspan="1">

                    </th>
                    <th class="text-center" colspan="1">
                        Visitor
                    </th>
                    <th class="text-center" colspan="1">
                        Bet/Modify
                    </th>

                    <tbody>
                        {% for event in events %}
                        <tr property="event">
                            <td class="text-center" style="vertical-align: middle">
                                <h3>{{ event.name }}</h3>
                            </td>
                            <td class=" text-center center-block" style="vertical-align: middle">
                            {% if event.team1.crest %}
                                <img src="{{ event.team1.crest.url }}" width="100px" height="100px" >
                            {% else %}
                                <img src="/media/crests/no_crest.svg" width="100px" height="100px" >
                            {% endif %}
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                <h2>VS.</h2>
                            </td>
                            <td class=" text-center center-block" style="vertical-align: middle">
                            {% if event.team2.crest %}
                                <img src="{{ event.team2.crest.url }}" width="100px" height="100px" >
                            {% else %}
                                <img src="/media/crests/no_crest.svg" width="100px" height="100px" >
                            {% endif %}
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                <div class="btn-group" >
                                <a href="{% url 'create_bet' event.id %}" class="btn btn-success">Create bet</a>
                                {% if event.user.username == user.username %}
                                    <a href="{% url 'delete_event' event.id %}"class="btn btn-danger">Delete</a>
                                {% else %}
                                    <button type="button" class="btn btn-danger disabled">Delete</button>
                                {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3>There are no events for this team.</h3>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}