{% extends "base.html" %}

{% block content %}
    <h1>Teams</h1>
    <table class="table table-striped	">
        {% for team in teams %}
            <tr>
                <td class="text-center">{{ team.name }}</td>
                <td class="center-block">
                {% if team.crest %}
                        <img src="{{ team.crest.url }}" width="100px" height="100px" >
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if teams.has_previous %}
                <a href="?page={{ teams.previous_page_number }}">Previous</a>
            {% endif %}
        </span>
        <span class="current">
            Page {{ teams.number }} of {{ teams.paginator.num_pages }}
        </span>
        <span class="step-links">
            {% if teams.has_next %}
                <a href="?page={{ teams.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>


{% endblock %}
